* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --light-gray: rgb(225, 225, 225);
  --dark-gray: rgb(80, 80, 80);
  --blue-gray: rgb(62, 144, 191);
  --nav-bg: #d6dcdf;
  --content-bg: #a9b7c0;
  --high: #c75f52;
  --med: #e4e424;
  --low: rgb(93, 145, 61);
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 65%;
}

/* navigation panel on left */
#nav {
  width: 100%;
  background-color: var(--nav-bg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  color: var(--blue-gray);
}

#cityInfo {
  margin-bottom: 30px;
  text-align: right;
  color: var(--dark-gray);
}

#cityInfo h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid var(--dark-gray);
  color: var(--blue-gray)
}

#nav label {
  margin-right: 3px;
  font-weight: bold;
}

#searchInput {
  padding: 5px 10px;
  border: 2px solid var(--content-bg);
  border-radius: 15px;
  text-align: right;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

#searchButton {
  margin-top: 5px;
  margin-right: 3px;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  background-color: var(--content-bg);
}

#searchButton:hover {
  filter: brightness(110%);
}

/* content side on the right */
#weather {
  width: 100%;
  background-color: var(--content-bg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  color: var(--dark-gray)
}

#content {
  height: 70%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: left;
}

#content div {
  height: 90%;
  padding: 5px;
  border-left: 5px double var(--blue-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#current {
  grid-row: span 3;
}


/* sticky footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--light-gray);
  padding: 10px;
  display: flex;
  justify-content: center;
  color: var(--dark-gray);
  font-size: 0.6rem;
}

footer a {
  color: var(--dark-gray);
}

footer a:hover {
  color: black;
  text-decoration: none;
}